<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CompanyMeetingScheduler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D1CC68A01ECB3EE5000FCD5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1CC68B71ECB3EE5000FCD5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1CC68C21ECB3EE5000FCD5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
